---

---

<style>

    .gradient-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: 75px;
      padding-bottom: 100px;
    }
  
    .text-container {
      padding: 0 10px; 
      text-align: center;
    }
  
    .gradient-text {
      background: -webkit-linear-gradient(left, #05A7A7, #5AED9A, #05A7A7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 50px;
    }
  
    img {
      max-width: 100%; 
      height: auto;
      max-height: 700px; 
      margin-top: 20px;
    }
  
    @media only screen and (max-width: 768px) {

      .gradient-section {
        flex-direction: column;
      }

      .gradient-text {
        font-size: 32px;
      }
  
      .text-container {
        padding: 0;
      }
    
    }

    p {
        font-size: 20 px;
    }

    .button-container {
    margin-top: 15px; 
  }

  .button {
    display: inline-block;
    padding: 10px 30px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 15px;
  }

  .button:hover {
    border-color: black;
    background: -webkit-linear-gradient(left, #5AED9A, #05A7A7);
    color: white;
    text-decoration: none;
  }

  </style>
  
  <section class="gradient-section">
    <div class="text-container">
      <h2><span class="gradient-text">Tú solución en un solo clic...</span></h2>
      <p>
        Vial es la aplicación a través <br> 
        de la cual nosotros nos desplazamos hasta <br>
         donde tú nos necesitas, ofreciéndote nuestros <br>
        servicios al alcance de un solo clic.
      </p>
      <div class="button-container">
        <a href="link_to_ios_store" class="button">
            <i class="fa-brands fa-app-store"></i> App Store
        </a>
        <a href="link_to_android_store" class="button">
            <i class="fa-brands fa-google-play"></i> Google Play
        </a>
      </div>
    </div>
    <img src="/about.png" alt="imagen de app">
  </section>
  