
<style>

    .section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: 120px;
      padding-bottom: 120px;
    }
  
    .text-container {
      padding: 0 10px; 
      text-align: center;
    }
  
    .text {
      color: black;
      font-size: 30px;
    }
  
    img {
      max-width: 100%; 
      height: auto;
      max-height: 400px; 
      margin-top: 150px;
      border-radius: 15px;
      margin: 100px;
    }
  
    @media only screen and (max-width: 768px) {
      .section {
        flex-direction: column;
        margin: 15px;
      }
  
      .text-container {
        padding: 0;
      }
    }

    p {
        font-size: 23px;

    }

  </style>
  
  <section class="section">
    <img src="/img1.png" alt="imagen de app">
    <div class="text-container">
      <h2><span class="text">Tú solución en un solo clic...</span></h2>
      <p>
        Vial es la aplicación a través <br> 
        de la cual nosotros nos desplazamos hasta <br>
         donde tú nos necesitas, ofreciéndote nuestros <br>
        servicios al alcance de un solo clic.
      </p>
    </div>
  </section>

  <section class="section">
    <div class="text-container">
      <h2><span class="text">Tú solución en un solo clic...</span></h2>
      <p>
        Vial es la aplicación a través <br> 
        de la cual nosotros nos desplazamos hasta <br>
         donde tú nos necesitas, ofreciéndote nuestros <br>
        servicios al alcance de un solo clic.
      </p>
    </div>
    <img src="/img1.png" alt="imagen de app">
  </section>
  